<%= render partial: "shared/nursery_menu.erb" %>

<div class="wrapper">

  <%= render partial: "shared/child_class_show.erb"  %>

    <br/>
    <%= link_to 'クラスを新しく登録する', new_child_class_path %>
</div>