<%= render partial: "shared/nursery_menu.erb" %>

<div class="wrapper">

  <div class="back">
    <%= render 'shared/error_messages', resource: @child_class %>
  </div>

  <%= render partial: "shared/child_class_show.erb"  %>
  
  <%= render partial: "shared/child_class_form" ,locals:{ child_classes: @child_class}%>

</div>