<%= render partial: "shared/nursery_menu.erb" %>

<div class="wrapper">
 
  <ul class="kid_lists">
    <%# 項目表示 %>
    <li class="kid_list">
      <div class="kid_list_top">
          <div class="kid_list_class">
            クラス名
          </div>


          <div class="kid_list_name">
            名前
          </div>
      </div>

      <div class="kid_list_bottom">
          <div class="kid_list_birthday">
            誕生日
          </div>
          <div class="kid_list_age_in_month">
            月齢
          </div>

          <div class="kid_list_user">
            保護者名
          </div>

        </div>
        </li>


    <% @kids.each do |kid| %>

    <%= render partial: "shared/kid_show.erb" ,locals: {kid: kid} %>

    </li>
  <% end %>
  </ul>


    <br/>

  <% if current_user.authority_id == 3%>
    <%= link_to '園児を新しく登録する', new_kid_path %>
  <% end %>

</div>