* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  background-color: lemonchiffon;
}

.logo-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 25vw;
  margin-right: 10vw;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  text-decoration: none;
  line-height: 32px;
}

.menu-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.user-name,
.logout,
.login,
.sign-up {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}
