.top-page-header {
  width: 100vw;
  height: 15vh;
  padding: 2vh 10vw;
  display: flex;
  background-color: transparent;
  border-bottom: #ddd solid 1px;
}

.logo-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
}

.icon {
  width: 25vw;
  margin-right: 10vw;
}

.nav {
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3px;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.nav-menu,
.user-name,
.logout,
.login,
.sign-up {
  width: 10vw;
  height: 8vh;
  font-size: 10px;
  padding: 3vh 5px;
  margin: auto;
  background-color: lemonchiffon;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  text-align: center;
}

.nursery_menu{
  background-color: lemonchiffon;
}

.menu-list{
  padding-left: 3px;
  color: #333;
  text-decoration: none;
}

.menu-list:hover,
.menu-list:hover,
.user-name:hover,
.logout:hover,
.login:hover,
.sign-up:hover{
  color: #888;
}