.top-page-header {
  width: 100vw;
  height: 15vh;
  padding: 2vh 10vw;
  display: flex;
  background-color: transparent;
}

.logo-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
}

.icon {
  width: 25vw;
  margin-right: 10vw;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding-top:  3px;
}

.lists-right {
  display: flex;
  align-items: center;
  text-decoration: none;
  }

.list-right{
  padding: 10px;
  margin: auto;
  border: 1px solid lemonchiffon;
  border-radius: 10px;
  margin-left: 5px;
}

.menu-list,
.user-name,
.logout,
.login,
.sign-up {
  text-decoration: none;
  color: #333;
}


.menu-list:hover,
.user-name:hover,
.logout:hover,
.login:hover,
.sign-up:hover{
  color: #666;
}