<%= render partial: "shared/nursery_menu.erb" %>

<div class="wrapper">

  <ul class="user_lists">
    <% @users.each do |user| %>

      <%= render partial: "shared/user_show.erb",locals: {user: user}  %>

    <% end %>
  </ul>

</div>