  <ul class="growth_lists">
    <% growths.each do |growth| %>
    <li class="growth_list">

      <div class="growth_list_inspection_date">
        <%= growth.inspection_date %>
      </div>

      <div class="growth_list_weight">
        <%= growth.weight %> kg
      </div>

      <div class="growth_list_height">
        <%= growth.height %> cm
      </div>


      <% if current_user.authority_id == 3%>
        <%= link_to "変更", edit_kid_growth_path(kid_id: growth.kid_id, id: growth.id), class: "btn_edit" %>
      <% end %>

    </li>
    <%end%>
  </ul>