  <% if current_user.authority_id == 3 %>
    <div class="nursery_menu">
      保育園メニュー：
      <%= link_to 'おたより登録', new_letter_path, class: "menu-list" %>
      <%= link_to 'クラス確認', child_classes_path, class: "menu-list" %>
      <%= link_to '園児確認', users_children_path, class: "menu-list" %>
    </div>
  <% end %>