  <% if current_user.authority_id == 3 %>
    <div class="nursery_menu">
      保育園メニュー：
      <%= link_to 'おたより登録', new_letter_path, class: "menu-list" %>
      <%= link_to 'クラス確認', grades_path, class: "menu-list" %>
      <%= link_to '園児確認', kids_path, class: "menu-list" %>
      <%= link_to '身体測定データ登録', growths_path, class: "menu-list"%>
    </div>
  <% end %>