<div class="navigation mobile" style="display: block;">
  <div class="home_navi">
    <ul class="navi_menu_list">
      <li class="navi_menu">
      ナビメニュー1
      </li>
      <li class="navi_menu">
      ナビメニュー2
      </li>
      <li class="navi_menu">
      ナビメニュー3
      </li>
      <li class="navi_menu">
      ナビメニュー4
      </li>
  </div>
</div>

<div class="picture">
  <div class="base_picture">
  <%= link_to image_tag("23418604_s.jpg", class:"kid_picture"), "/" %>
  </div>
  <div class="flame_picture">
  <%= link_to image_tag("animal_flame.png", class:"animal_picture"), "/" %>
  </div>
</div>