<%= render partial: "shared/nursery_menu.erb" %>

<div class="wrapper">
  <div class="important_letters">
  <%# 重要なお知らせがある時表示 %>
  <% if @letters.present? %>
    <lu class="letters_list">
      <% @letters.each do |letter| %>

      <%= render partial: "shared/letter_show", locals: { letter: letter } %>

      <% end %>
    </lu>

  <% else %>
    <%= Genre.find(params[:id]).name %>は投稿されていません
  <% end %>
  </div>

    </div>
  </div>
</div>

