.child_class_lists {
  display: flex;
}

.child_class_list_left{
  width: 100px;
  display: inline-block;
}

.child_class_list_right{
  width: 200px;
  display: inline-block;
}

.back_link{
  margin: 5px 0;
}

.field_with_errors{
  display: inline;
  color: red;
}

.class_field{
  margin: 5px 0;
}