.kid_list {
  background-color: bisque;
  margin-bottom: 8px;
  list-style: none;
}

.kid_list_top{
  justify-content: space-between;
}
.kid_list_bottom{
  justify-content: space-between;
}

.kid_list_class,
.kid_list_name,
.kid_list_birthday,
.kid_list_age_in_month,
.kid_list_user {
  width: 100%;
  display: inline-block;
}

.kid_field{
  margin-top: 15px;
}

.kid-date-field{
  margin-top: 15px;
  display: flex;
}


.date-field{
  justify-content: flex-start;
}