.wrapper{
  height: 75vh;
  background-size: cover;
  width: 80vw;
  margin: 0px auto;
  padding: 25px;
  background-color: #fffdf3;
  overflow: scroll;
}


.important_letters{
  height: 35vh;
  width: 70vw;
  list-style: none;
  margin: 0 auto;
}

.monthly{
  display: flex;
  justify-content: space-between;
  
}

.month_letters{
  height: 35vh ;
  width: 30vw;
  list-style: none;
  margin: 0 auto;
}

.letters_list{
  list-style: none;
}

.nursery_menu{
  background-color: orange;
}

.menu-list {
  margin-left: 8px;
}

.btn_edit,
.btn_delete{
  background: orange;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.btn_delete{
  background: red;
}

.li{
  margin-bottom: 5px;
}